/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #f0f0f0;
    padding: 1rem;
}

main {
    display: flex;
    flex: 1;
}

.content {
    flex: 2;
    padding: 1rem;
}

.notes {
    flex: 1;
    background-color: #e0e0e0;
    padding: 1rem;
}

/* New styles for paragraph hover effect */
.content p {
    position: relative;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 10px;
    padding-right: 40px; /* Increased right padding for hover area */
}

.content p.highlight {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

/* New styles for icons hover effect */
.paragraph-icons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: auto; /* Allow hover events to pass through */
}

/*.content p.highlight .paragraph-icons {
    opacity: 1;
    pointer-events: auto; /* Re-enable pointer events when visible 
}
*/

.paragraph-icons i {
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
    transition: all 0.2s ease;
    font-size: 18px;
}

.paragraph-icons i:last-child {
    margin-bottom: 0;
}

.paragraph-icons i:hover {
    color: #000;
    transform: scale(1.2);
}

/* Styles for tagged paragraphs */
.content p.questioned {
    border-left: 3px solid #007bff;
}

.content p.highlighted {
    background-color: #ffffd0;
}

.content p.commented {
    border-bottom: 2px dashed #28a745;
}

/* styles for highlighted blocks of texts and resulting icons for interactions */

.selection-icons {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 5px;
    display: flex;
    gap: 10px;
    z-index: 1000;
    pointer-events: auto;
    user-select: none;
}

.selection-icons i {
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.selection-icons i:hover {
    color: #000;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}